.signUpContainer {
  color: white;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
}

.signUpForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signUpForm input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.signUpForm button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
