.gridContainer {
  display: flex;
  flex-direction: column;
  float: right;
  width: 85%;
}

.gridInnerContainer {
  display: flex;
  gap: 45px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 150px;
}

.gridInnerContainer a {
  color: var(--third-color);
}

.mainLogo {
  height: auto;
  width: 300px;
  margin-top: 50px;
  margin-left: 50px;
}

.gridContainer h1 {
  color: var(--second-color);
}

@media screen and (max-width: 1450px) {
  .gridContainer {
    width: 100%;
  }
}

.moreMovieButtonContainer {
  justify-content: center;
  display: flex;
}

.moreMovieButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.sortContainer {
  position: absolute;
  top: 130px;
  right: 0px;
  display: flex;
  align-items: center;
}

select {
  border: 0;
  box-shadow: none;
  background: var(--second-color);
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

.select {
  position: absolute;
  top: 40px;
  right: 10px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  height: 3em;
}

.scrollUpContainer {
  display: flex;
  bottom: 0;
  right: 0;
  justify-content: flex-end;
  position: fixed;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  background-color: transparent;
  z-index: 1;
}

.scrollUpContainer.hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.scrollUp {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
  justify-content: flex-end;
}

.moreMovieButton:disabled {
  cursor: not-allowed;
}

.noFavorites {
  color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
}

.noFavorites h3 {
  padding-bottom: 20px;
}

.centerLoading {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
