.gridContainer {
  display: flex;
  flex-direction: column;
  float: right;
  width: 85%;
}

.gridInnerContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 200px;
  padding-right: 50px;
  padding-left: 50px;
}

.gridContainer h1 {
  color: var(--second-color);
}

@media screen and (max-width: 1450px) {
  .gridContainer {
    width: 100%;
  }
}

.movieGenresContainerAll {
  position: relative;
  top: 50px;
  padding-left: 80px;
  display: flex;
  align-items: center;
  color: var(--second-color);
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 1450px) {
  .movieGenresContainerAll {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .movieGenresContainerAll {
    padding-left: 15px;
  }
}

@media screen and (max-width: 950px) {
  .movieGenresContainerAll {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .movieGenresContainerAll {
    font-size: 15px;
  }
}

.searchWord {
  color: var(--fourth-color);
}

@media screen and (min-width: 700px) {
  .searchWordContainer br {
    display: none;
  }
}

.movieGenresText {
  color: var(--fourth-color);
}

.moreMovieButtonContainer {
  padding-top: 100px;
  justify-content: center;
  display: flex;
}

.moreMovieButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
  color: var(--second-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.favoritesText {
  display: flex;
  flex-direction: column;
}

.favoritesAmountText {
  font-size: 20px;
}

.favoritesAmount {
  color: var(--fourth-color);
}

@media screen and (max-width: 700px) {
  .favoritesAmountText {
    font-size: 14px;
  }
}

.sortContainer {
  position: absolute;
  width: 85%;
  top: 80px;
  right: 0px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1450px) {
  .sortContainer {
    width: 100%;
  }
}

.moviesOrSeries {
  color: var(--second-color);
}

.moviesOrSeries a {
  text-decoration: none;
}

.moviesOrSeries button {
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.moviesOrSeries button:disabled {
  cursor: default;
}

.searchedFilter {
  color: var(--second-color);
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.searchedFilter.active {
  color: var(--fourth-color);
  font-weight: bold;
}

.searchedFilter:hover {
  color: var(--fourth-color);
}

.noResultsFound {
  width: 85%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 1450px) {
  .noResultsFound {
    width: 100%;
  }
}

.noResultsFound h3 {
  margin: 20px 0;
}

.noResultsFound a {
  font-size: 1.2rem;
  color: var(--fourth-color);
}

select {
  border: 0;
  box-shadow: none;
  background: var(--second-color);
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

.select {
  position: absolute;
  top: 55px;
  right: 10px;
  display: flex;
  align-items: center;
  padding-right: 70px;
  height: 3em;
}

@media screen and (max-width: 1450px) {
  .select {
    padding-right: 0px;
    flex-direction: column;
    top: 30px;
  }
}

.scrollUpContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.scrollUpContainer.show {
  opacity: 1;
}

.scrollUp {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
  justify-content: flex-end;
  color: var(--second-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.scrollUp:hover {
  color: var(--fourth-color);
}

.moreMovieButton:disabled {
  cursor: not-allowed;
}

.moreMovieButton:hover {
  color: var(--fourth-color);
}

.noFavorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
}

.noFavorites h3 {
  padding-bottom: 20px;
  color: var(--second-color);
}
.noFavorites a {
  color: var(--fourth-color);
}

.centerLoading {
  display: flex;
  justify-content: center;
}
