.sideBar {
  position: fixed;
  width: 15%;
  height: 100vh;
  background: var(--main-color);
  font-size: 0.9em;
  border-right: 1px solid var(--second-color);
  overflow-y: scroll;
  overflow-x: hidden;
}

.sideBar::-webkit-scrollbar {
  width: 5px;
}

.sideBar::-webkit-scrollbar-thumb {
  background: var(--second-color);
  border-radius: 10px;
}

.sideBar::-webkit-scrollbar-thumb:hover {
  background: var(--fourth-color);
}

@media screen and (max-width: 1450px) {
  .sideBar {
    display: none;
  }
}

.navbar {
  position: relative;
  margin: 0 15%;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  position: relative;
  margin: 3.2em 0;
}

.navbar a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  display: block;
}

.sideBarText {
  color: var(--second-color);
  border-bottom: 1px solid var(--second-color);
  border-radius: 0;
  transition: color 0.3s;
}

@media screen and (min-width: 1450px) {
  .sideBarText::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: var(--fourth-color);
    bottom: 0;
    left: 0;
    transition: width 0.25s;
  }
  .sideBarText:hover {
    color: var(--fourth-color);
  }
}

.sideBarText:hover::before {
  width: 100%;
  transition: width 0.25s;
}

.active {
  color: var(--fourth-color);
  border-bottom: 1px solid var(--fourth-color);
}

a {
  font-weight: bold;
  text-decoration: drop-shadow;
  padding: 0.25em;
  border-radius: 0.5em;
}

.mainLogo {
  height: auto;
  width: 230px;
  margin-top: 50px;
  margin-left: 40px;
}

.mainLogo:hover {
  content: url("../../images/DATABASEFORMOVIES-logos_pink-red.png");
}

@media screen and (max-width: 1450px) {
  .mainLogo {
    display: none;
  }
}

.searchContainerWithHamburger {
  background-color: var(--main-color);
  height: 100px;
  position: fixed;
  width: 83%;
  float: right;
  right: 0;
  padding-top: 10px;
  z-index: 3;
}

@media screen and (max-width: 1450px) {
  .searchContainerWithHamburger {
    width: 100%;
  }
}

.searchContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  padding-top: 10px;
  padding-right: 70px;
  align-items: center;
  z-index: 2; /*so it is over hambuer menu when both open and x icon */
}

@media screen and (max-width: 1050px) {
  .searchContainer {
    padding-right: 0px;
  }
}

.loginLink {
  margin-left: 10px;
  text-decoration: none;
  color: var(--second-color);
}

.logoutButton {
  color: var(--second-color);
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
}

.searchBox {
  background: var(--second-color);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1450px) {
  .searchBox {
    width: 130px;
  }

  .searchText {
    width: 100%;
  }
}

@media screen and (min-width: 1451px) {
  .searchBox:hover .searchText {
    width: 240px;
    padding: 0 6px;
  }

  .searchText {
    width: 0px;
  }
}
.searchIcon {
  color: black;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.searchText {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 40px;
  background-color: var(--second-color);
}

#sideBar {
  z-index: 3;
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--main-color);
  left: -300px;
  transition: all 500ms linear;
  display: none;
  top: 0;
}

@media screen and (max-width: 1450px) {
  #sideBar {
    display: block;
  }
}

#sideBar.active {
  left: 0px;
  overflow: auto;
}

#sideBar ul li {
  color: var(--second-color);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid var(--main-color);
}

.navBarButton {
  position: fixed;
  margin-left: 5px;
  padding-top: 25px;
  left: 10px;
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 5; /*so it is over hamburger menu*/
}

@media screen and (max-width: 1450px) {
  .navBarButton {
    display: block;
  }
}

.section-start {
  padding-top: 100px;
}
