.actorContainer {
  width: 80%;
  float: right;
  display: flex;
  justify-content: center;
  color: var(--second-color);
  padding-top: 150px;
  gap: 40px;
}

@media screen and (max-width: 1450px) {
  .actorContainer {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .actorContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.actorImageContainer {
  display: flex;
  flex-direction: column;
}

.besideActorImage {
  max-width: 650px;
  margin-top: 0;
}

@media screen and (max-width: 1170px) {
  .besideActorImage {
    max-width: 300px;
    margin-left: 80;
    display: flex;
    flex-direction: column;
  }
  .actorMovies {
    max-width: 300px;
  }
}

.besideActorImage h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.actorMovies {
  margin-top: 40px;
  display: flex;
  overflow: auto;
  width: 600px;
  gap: 50px;
  text-align: center;
}

.actorMovies a {
  color: var(--third-color);
}

.actorMovies img {
  width: 150px;
  border-radius: 10px;
}

.actorMoviesTitle p {
  max-width: 200px;
  font-size: 20px;
}

.actorImage {
  width: 400px;
  height: fit-content;
  border-radius: 20px;
}

@media screen and (max-width: 1650px) {
  .actorImage {
    width: 300px;
  }
}

@media screen and (max-width: 1450px) {
  .actorImage {
    display: flex;
  }
}

.actorInformation {
  padding-top: 20px;
}

.actorInformation strong {
  display: block;
}

.actorInformation p {
  margin-bottom: 1em;
}

.actorInformationContainer {
  padding-left: 100px;
}

@media screen and (max-width: 1450px) {
  .actorInformationContainer {
    padding-left: 0px;
    margin: 60px;
  }
}

.actorGenresContainer {
  padding-top: 40px;
}

.actorGenres {
  display: flex;
}

@media screen and (max-width: 700px) {
  .actorGenres {
    display: block;
  }
}

.actorVote {
  padding-top: 30px;
}

.actorOverViewContainer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.actorOverView {
  line-height: 1.5;
  max-width: 650px;
}

.actorReleaseRun {
  justify-content: flex-end;
}

.actorSubData {
  display: flex;
}

.actorSubDataLeft {
  margin-right: auto;
}

.readButton {
  color: var(--third-color);
  background: transparent;
  cursor: pointer;
  border: none;
}
