.footer {
   color: white;
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   height: 300px;
   align-items: center;
   padding: 50px;
   background-color: black;   
}

.footer img{
    max-width: 200px;
}

.footer p{
  max-width: 200px;
  line-height: 1.8;
}

.footer ul{
    list-style-type: none;
}

.footer-icons li{
   padding-top: 30px;

}

