.footer {
  width: 85%;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
  padding-top: 80px;
}

@media screen and (max-width: 1450px) {
  .footer {
    width: 100%;
  }
}

.footer p {
  text-align: center;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  text-decoration: none;
}

.menuItem {
  list-style: none;
}

.menuLink {
  font-size: 1.2rem;
  color: var(--second-color);
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.4;
  font-weight: 300;
}

.menuLink:hover {
  color: var(--fourth-color);
  opacity: 1;
}

.menuLink.active {
  color: var(--fourth-color);
  opacity: 1;
  font-weight: 500;
  border: none;
}

.footer p {
  color: var(--second-color);
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.socialMediaFooter span {
  color: var(--second-color);
}

.socialMediaFooter span {
  margin: 20px;
}

.github:hover {
  color: #333;
}

.linkedin:hover {
  color: #0077b5;
}
