.movieContainer {
  width: 90%;
  float: right;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--second-color);
  padding-top: 150px;
}

@media screen and (max-width: 1450px) {
  .movieContainer {
    width: 100%;
  }
}

.moreInformationImage {
  width: 450px;
  height: fit-content;
  border-radius: 20px;
  margin-left: 80px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1050px) {
  .moreInformationImage {
    height: auto;
    margin-left: 0;
  }
}

.rating {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1650px) {
  .moreInformationImage {
    width: 300px;
  }
}

@media screen and (max-width: 1450px) {
  .moreInformationImage {
    display: flex;
  }
}

.movieInformationContainer {
  margin-left: 60px;
  margin-right: 60px;
  max-width: 650px;
}

.movieGenresContainer {
  padding-top: 40px;
}

.movieGenresContainer h2 {
  margin-bottom: 5px;
}

.movieGenres {
  display: flex;
}

@media screen and (max-width: 700px) {
  .movieGenres {
    display: block;
  }
}

.movieVote {
  padding-top: 30px;
}

.movieOverViewContainer {
  padding-top: 40px;
}

.movieOverViewContainer h2 {
  padding-bottom: 5px;
}

.movieOverView {
  line-height: 1.5;
  max-width: 600px;
}

.movieReleaseRun {
  justify-content: flex-end;
}

.movieSubData {
  display: flex;
}

.movieSubDataLeft {
  margin-right: auto;
}

.actorsContainer {
  margin-top: 40px;
}

.actorsContainer h2 {
  margin-bottom: 5px;
}

.actorsList {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.actorLink {
  text-decoration: none;
}

.actorsContainer a {
  color: var(--third-color);
  padding: 3px;
}

.actorLink p {
  margin: 0;
}

.seasonButton {
  color: var(--third-color);
  background: transparent;
  cursor: pointer;
  border: none;
  margin-right: 20px;
}

.seasonButton {
  color: var(--third-color);
  background: transparent;
  cursor: pointer;
  border: none;
  margin-right: 20px;
}

.episodesContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 990px;
}

@media screen and (max-width: 1050px) {
  .episodesContainer {
    max-width: 660px;
  }
}

@media screen and (max-width: 700px) {
  .episodesContainer {
    max-width: 360px;
  }
}

.seasonEpisodeContainer {
  padding-bottom: 40px;
  padding-top: 40px;
}

.seasonEpisodeContainer h2 {
  margin-bottom: 5px;
}

.noSeason {
  color: var(--second-color);
}

.episodeCard {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid var(--second-color);
  margin: 15px 40px 15px 0px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 450px;
}

.episodeTextContainer {
  padding: 10px;
}

.episodeText {
  margin-bottom: 10px;
}

.episodeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.rating {
  margin-right: 10px;
}

.releaseTimeContainer {
  display: flex;
}

.readMoreButton {
  color: var(--third-color);
  background: transparent;
  cursor: pointer;
  border: none;
  margin-right: 20px;
}

.episodeOverview {
  max-height: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expandedOverview {
  white-space: normal;
  overflow-y: scroll;
  text-overflow: unset;
}

.episodeImage {
  margin-top: auto;
  border-radius: 0px 0px 5px 5px;
  border-top: 1px solid var(--second-color);
  width: 300px;
  height: 180px;
}

.youtubeVideoContainer {
  display: flex;
  padding-top: 50px;
}

@media screen and (max-width: 1800px) {
  .youtubeVideoContainer {
    justify-content: center;
  }
}

.youtubeVideo {
  border: 1px solid var(--second-color);
}

@media screen and (max-width: 670px) {
  .youtubeVideo {
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .youtubeVideo {
    display: none;
  }
  .youtubeVideoContainer {
    display: none;
  }
}

.bookingFormContainer {
  margin-top: 30px;
}

.bookingFormArrow {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.bookingFormContainer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
  margin-bottom: 10px;
}

.bookingFormContainer input {
  margin-bottom: 15px;
  padding: 5px;
  width: 98%;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 13px;
}

.bookingLocation {
  margin-bottom: 15px;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 5px;
}

.centerLoadingMovie {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 85%;
  float: right;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white,
      0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white,
      110px 0 white;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      130px 0 white, 120px 0 white;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}
