.movieContainer {
  width: 90%;
  float: right;
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  color: var(--second-color);
}

@media screen and (max-width: 1350px) {
  .movieContainer {
    width: 100%;
    padding: 0;
  }
}

.moreInformationImage {
   width: 400px;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
}

@media screen and (max-width: 1650px) {
  .moreInformationImage {
    width: 300px;
  }
}

@media screen and (max-width: 1350px) {
  .moreInformationImage {
    display: flex;
    margin: auto;
  }
}

.movieInformationContainer {
  margin-left: 80px;
}

@media screen and (max-width: 1350px) {
  .movieInformationContainer {
    padding-left: 0px;
    margin: 60px;
  }
}

.movieGenresContainer {
  padding-top: 40px;
}

.movieGenres {
  display: flex;
}

@media screen and (max-width: 700px) {
  .movieGenres {
    display: block;
  }
}

.movieVote {
  padding-top: 30px;
}

.movieOverViewContainer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.movieOverView {
  line-height: 1.5;
  max-width: 600px;
}

.movieReleaseRun {
  justify-content: flex-end;
}

.movieSubData {
  display: flex;
}

.movieSubDataLeft {
  margin-right: auto;
}

.actorsContainer {
  display: flex;
  max-width: 400px;
  word-wrap: break-word;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.actorsContainer a {
  color: #4786d8;
}

.youtubeVideo {
  border-style: solid;
  border-color: var(--second-color);
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 670px) {
  .youtubeVideo {
    width: 500px;

    iframe {
      width: 500px;
    }
  }
}

@media screen and (max-width: 540px) {
  .youtubeVideo {
    width: 350px;

    iframe {
      width: 350px;
    }
  }
}

.bookingFormContainer {
  margin-top: 30px;
}

.bookingFormArrow {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.bookingFormContainer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
  margin-bottom: 10px;
}

.bookingFormContainer input {
  margin-bottom: 15px;
  padding: 5px;
  width: 98%;
}

.bookingLocaiton {
  margin-bottom: 15px;
}
