.loginContainer {
  color: white;
  width: 85%;
  padding-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
}

@media screen and (max-width: 1450px) {
  .loginContainer {
    width: 100%;
  }
}

.loginForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginForm input {
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.loginForm input:focus {
  border: 1px solid var(--fourth-color);
  border-color: var(--fourth-color);
  outline: none;
}

.loginForm button {
  padding: 12px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--second-color);
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginButton:hover {
  color: var(--fourth-color);
}

.signupLink {
  color: var(--fourth-color);
}

.signupLink:hover{
  text-decoration: underline;
}
